.bg-dark {
	background-color: #148899 !important;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
	background: #148899;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
	background-color: #148899;
}